body.light {
  background-color: whitesmoke;
  color: #000000;
}
body.light li a{
  color: #000000;
}
body.dark li a{
  color: #ffffff;
}
body.dark {
  background-color: #000000;
  color: #fff;
}
body.dark #trans-bg{
  background-color: #2e2e2e;
  color: #fff;
}
body.light #trans-bg{
  background-color: #ffffff;
  color: rgb(14, 14, 14);
}
body.dark #trans-bg2{
background-color: rgb(255, 255, 255);
  color: #0e0d0d;
}
body.light #trans-bg2{
  background-color: rgb(14, 14, 14);
  color: rgb(255, 255, 255);
}

.main-text{
  background-color: aqua;
}
.globe-img{
  width: 200px;
}
.span-txt{
  color: rgb(129, 56, 197);
}
.contain{
  background-color: whitesmoke;
}